<ion-view view-title="Menu Principal">
  <ion-content>

    <div class="list">

      <form ng-submit="salvar(dados)">
        <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="dados.txtNome">
      </label>
        <label class="item item-input">
        <input type="text" placeholder="Sobrenome" ng-model="dados.txtSobrenome">
      </label>
        <button class="button button-full button-positive" type="submit">Salvar</button>
      </form>
    </div>

  </ion-content>
</ion-view>
