<ion-view view-title="Cadastro de Usuário">
  <ion-content>

    <div class="list">

      <form ng-submit="salvar(dados)">
        <label class="item item-input">
        <input type="text" placeholder="Login" ng-model="dados.txtLogin">
      </label>
        <label class="item item-input">
        <input type="text" placeholder="Senha" ng-model="dados.txtSenha">
      </label>
        <button class="button button-full button-positive" type="submit">Salvar</button>
      </form>
    </div>

  </ion-content>
</ion-view>
